body{
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
    overflow-x: hidden;
    height: 100%;
}
/* problem in navbar */
.container{
    width: 1000px;
}
/* Start header */
.header{
    background-image: url('/img/banner_bg.jpg.webp');
    background-size: cover;
    position: relative;
    height: 700px;
}
.bg-navbar{
    height: 70px;
    background-color: white;
}
.nav-link{
    color: #222222;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    /* font: 500 12px/80px "Poppins", sans-serif; */
}
.nav-link:hover{
    color: #007bff;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.head{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2323;
}
.head-scroll{
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 2323;
    display: none;
}
.content{
    width: 500px;
    height: 100%;
    color: white;
}
.content h6{
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
}
.content h2{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}
.content p{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0px 20px;
}
.content a{
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background: #f3c300;
    padding: 10px 30px;
}
.book{
    position: absolute;
    bottom: 0;
    width: 80%;
    margin: auto;
    background-color: #04091e;
    display: flex;
    align-items: center;
    padding: 40px 50px 30px;
}
.book div h2{
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
}
.form-group{
    padding-top: 15px;
    position: relative;
}
.hvr-sweep-to-right::before{
    background-color: #a88210;
}
.dateinput{
    background-color: transparent;
    border-radius: none;
    border: 1px solid #2b3146;
    height: 42px;
}
.databook{
    position: relative;
}
.icon-calender{
    position: absolute;
    top: 20px;
    right: 10px;
}
.nice-select{
    width: 100%;
    margin-bottom:10px;
    background-color: transparent;
    border: 1px solid #2b3146;
    border-radius: 0;
}
.list{
    width: 100%;
}
.book-now{
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background: #f3c300;
    padding: 10px 56px;
}

/* End header */




/* Start Hotel Accomodation */
.Hotel-Accomodation{
    margin: 100px;
}
.Hotel-content h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #222222;
}
.Hotel-content p{
    font-size: 14px;
    line-height: 30px;
    color: #777777
}
.hotel-description{
    position: relative;
    overflow: hidden;
    /* text-align: center; */
}
.hotel-description .Booking{
    position: absolute;
    bottom: 20px;
    left: 60px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background: #f3c300;
    padding: 10px 20px;
}
.dec{
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    text-decoration: none;
    padding-left: 30px;
}
.price-room{
    font-size: 24px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600
}
.room-img{
    width: 100%;
    transition: all .5s ease-in-out;
}
.room-img:hover{
    transform: scale(1.1);
}
/* End Hotel Accomodation */



/* Start Facilities */
.Facilities{
    background-image: url('/img/facilites_bg.jpg.webp');
    background-size: cover;
    height: 700px;
    position: relative;
}
.overlay-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 8, 30, 0.8);
}
.Facilities-content h2{
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: white;
}
.Facilities-content{
    font-size: 14px;
    line-height: 30px;
    color: #777777;
}
.Facilities-box{
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
}
.Facilities-box h4 i{
    color: #f3c300;
    font-size: 24px;
    line-height: 38px;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 20px;
}
/* End Facilities */

/* Start About us section */
.about-us{
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-content h4{
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #222222;
}
.about-content p{
    padding: 18px 0px 30px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.about-content a{
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background: #222222;
    padding: 10px 30px;
}
/* End About us section */


/* Start Testimonial section */
.Testimonial-section{
    height: 450px;
    background-color: #f9f9ff;
    overflow: hidden;
}
.content-Testimonial{
    padding-top:100px ;
    padding-bottom: 40px;
}
.content-Testimonial h2{
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #222222;
}
.content-Testimonial p{
    font-size: 14px;
    line-height: 30px;
    color: #777777;
    margin-bottom: 0px;
}
.swiper-slide{
    color: #8c8d9e;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    background-color: #fff;
    width: 50px;
}
.swiper-slide a{
    text-decoration: none;
}
.swiper-slide a:hover h4{
    color: #007bff;
}
.swiper-slide a h4{
    transition: all .5s ease-in-out;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
}
.swiper-slide .star a{
    color: #f3c300;
}
.fa-star-half-o:before {
    content: "\f123";
}
/* End Testimonial section */


/* Start latest posts section */
.latest-posts{
    margin-top: 150px;
}
.latest-posts h2{
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #222222;
}
.latest-posts p{
    font-size: 14px;
    line-height: 30px;
    color: #777777;
    margin-bottom: 0px;
}
.latest-links a{
    text-decoration: none;
    border: 1px solid #eeeeee;
    padding: 1px 18px;
    margin-right: 18px;
    font-size: 12px;
    font-weight: 500;
    color: #222222;
    display: inline-block;
    margin-top: 21px;
    margin-bottom: 13px;
}
.latest-content a{
    text-decoration: none;
}
.latest-content a h4{
    line-height: 24px;
    padding: 10px 0px 13px;
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
    transition: all .5s ease-in-out;
}
.latest-content a h4:hover{
    color: #007bff;
}
.latest-content p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.latest-content h6{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #222222;
}
.latest-box{
    margin-top: 50px;
}
/* ُEnd latest posts section */


/* Start Footer */
.footer{
    height: 600px;
    background-color: #04091e;
    margin-top: 150px;
}
.about-agency h6{
    padding-top: 120px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.navigation-links{
    padding-top: 120px;
}
.footer-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 550;
    color: #fff;
    margin-bottom: 28px;
}

.list-footer li{
    list-style: none;
    margin-right: 0px;
    padding: 5px;
}
.list-footer li a{
    text-decoration: none;
    color: #777;
    transition: all .3s ease-in-out;
}
.list-footer li a:hover{
    color: #f3c300;
}
.news-sellitres{
    padding: 120px;
    box-sizing: border-box;
}
.news-sellitres input{
    color: #999999;
    border: 1px solid #777;
    border-radius: 5px;
    margin: 0;
    box-sizing: border-box;
}
.sub-btn{
    height: 32px;
    background: transparent;
    border: 1px solid #777;
    padding-right: 0;
    background-color: #f3c300;
    width: 39px;
    height: 27px;
    line-height: 23px;
    margin: 0;
    padding: 0;
}
.lnr{
    width: 36px;
    margin: 0;
}
.lnr-location::before {
    color: #fff;
}
::-webkit-input-placeholder{
    padding: 5px;
}
.footer .container hr{
    color: #fff;
}
.colorlib{
    color: #f3c300;
    cursor: pointer;
}
/* End Footer */